<div >
<form action="/comments" class="new_comment" id="new_comment" method="post">
Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="time1" name="comment[name]" /> <br />
Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" id="topic" name="comment[email]" /> <br />
Comment: <TEXTAREA cols="50" rows="3" id="topic" name="comment[comment]" ></TEXTAREA><br /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="comment_submit" type="submit" value="Comment" />
</form>
</div>	
