<div style="display:none">
<form action="/videos" class="new_bookmark" id="new_bookmark" method="post" name="autoSubmit">
<input type="text" id="time1" name="video[video_time]" />
<input type="text" id="topic" name="video[topic]" />
</form>
</div>		