
<a
			 href="/Randy_Pausch.flv"
			 style="display:block;width:520px;height:360px"
			 id="player" >
</a>
<script>

			var j=0;
			var player=flowplayer("player", "/swf/flowplayer-3.2.7.swf",{clip: {
			autoPlay:false,
			autoBuffering:true,
			start:5,
			
				}
			});


</script>

<%= render 'videos/new'%>

