<script type="text/javascript">
		window.addEventListener("load",scratchPad.loadPad,true);
	</script>
<div id="myCanvas"  height="250" width="520">
		<canvas id="canvas" class="clear"></canvas>
		<table id="panel">
		<tr><td><button id="erase">Erase</button></td><td><button id="resetButton">Reset</button></td></tr>
	</table>

</div>