

	<div id="myCanvas">
		<canvas id="canvas" class="clear" height="200" width="300"></canvas>
		<br/>
		

		<table id="panel">
		
		<tr><td><button id="erase">Erase</button></td><td><button id="resetButton">Reset</button></td></tr>

		</table>

		
	</div>
	
	
