
<div id="main" style="position:absolute;left:300px;top:130px;width:940 px;height:910px;border:1px solid black;">
    <div id="video" style="position:absolute;left:10px;top:10px;width:520px;height:360px;border:1px solid black;">

        <%= render 'videos/index' %>
    </div>

    <div id="powerpoint" style="position:absolute;left:540px;top:10px;width:400px;height:300px;border:1px solid black;">
        
	<%= render 'presentations/index' %>
    </div>
	
    <div id="scratchpad" style="position:absolute;left:10px;top:380px;width:520px;height:250px;border:1px solid black;">
        <h1>SCRATCHPAD</h1>
    </div>
    <div id="chat" style="position:absolute;left:540px;top:320px;width:400px;height:580px;border:1px solid black;">
        <h1>Chat</h1>
    </div>
    <div id="comment" style="position:absolute;left:10px;top:640px;width:520px;height:260px;border:1px solid black;">
        <h1>Comment Box</h1>
    </div>
</div>
