  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <style text/css>
      .wrapper{
      font-family:Arial, Helvetica, sans-serif;
      margin-top:100px;
      margin-left:50px;
    }
  </style>

<body>

    <div id="video" style="position:absolute;left:310px;top:140px;width:520px;height:360px;border:1px solid black;">

        <%= render 'videos/index' %>
    </div>

  <%= render 'presentations/dragppt' %>


    <div id="scratchpad" style="position:absolute;left:310px;top:510px;width:520px;height:250px;border:1px solid black;">

    </div>
    <div id="chat" style="position:absolute;left:840px;top:470px;width:400px;height:580px;border:1px solid black;">
        <h1>Chat</h1>
    </div>
    <div id="comment" style="position:absolute;left:310px;top:770px;width:520px;height:260px;border:1px solid black;">
        <%= render :partial=>"comments/form" %>
    </div>
</body>

