
<div style="position:relative;top:110px;left:300px"><input type="button" onclick="chane123()"  value="AddBookmark" /><br /></div>
 <div id="container" style="position:relative;top:60px;left:270px">


      <div id="command"><a class="lightSwitcher" href="#">Turn off the lights</a></div>
        </div>
    </div>
    <div id="shadow"></div>
<article style="position:relative;top:120px;" class="tabs">
        <section class="current">
            <h3>Contents</h3>
<div id="new3" style="overflow:auto;width:260px;height:300px;padding:10px;">
 <%= link_to "New", :controller => "presentations", :action => "new" %>
<%= render :partial=>"presentations/show" , :locals=>{:presentations=>Presentation.find(:all,:order=> 'ppt_time ASC')}%>
</div>


        </section>
        <section >
            <h3>Glossary</h3>
            <div  style="overflow:auto;width:260px;height:300px;padding:10px;">
                <p>A info tab content1</p>
                <p>A info tab content2</p>
            </div>
        </section>
<section>
	<h3>Bookmarks</h3>
<div style="overflow:auto;width:260px;height:300px;padding:10px;">
<%= render :partial=>"videos/show" , :locals=>{:videos=>Video.find(:all)}%>
</div>
</section>

    </article>

