<div style="float:left"> <input type="button" onclick="pause()" value="play" id="play_pause" style="width:50px;"></div>
<div>
<span id="timeline" style="left:65px;position:absolute;float:left;">
o
</span>
<br />
<hr />

</div> 
